section.hero .container .main{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.hero .container h1{
    font-size: 3rem;
    font-weight: bold;
}

section.hero .container p{
    font-size: 1.2rem;
}